{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">            
                <section class="tags">
                    <p class="tags__titulo">Busque por tags:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag"><a href="{% url 'filtro' 'SOLICITADO' %}" class="btn" style="color: #C9C9C9;">SOLICITADO</a></li>
                        <li class="tags__tag"><a href="{% url 'filtro' 'EM_PRODUCAO' %}" class="btn" style="color: #C9C9C9;">EM PRODUÇÃO</a></li>
                        <li class="tags__tag"><a href="{% url 'filtro' 'PENDENTE' %}" class="btn" style="color: #C9C9C9;">PENDENTE</a></li>
                        <li class="tags__tag"><a href="{% url 'filtro' 'CONFECCIONADO' %}" class="btn" style="color: #C9C9C9;">CONFECCIONADO</a></li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for cracha in cards %}
                            <li class="card">
                                <a href="{% url 'imagem' cracha.id %}">
                                {% if cracha.foto == "" or cracha.foto == null %}
                                    <img class="card__imagem" src="{% static 'assets/imagens/galeria/not-found.png'%}" alt="foto">
                                {% else %}
                                    <img class="card__imagem" src="{{ cracha.foto.url }}" alt="foto">
                                {% endif %}
                                </a>
                                {% comment %} <span class="card__tag">Estrelas</span> {% endcomment %}
                                <div class="card__info">
                                    <p class="card__titulo">{{cracha.nome}}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{cracha.rg}}</p>
                                        <p class="card__descricao">{{cracha.cpf}}</p>
                                        <p class="card__descricao">{{cracha.get_funcao_display}}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}